/* *,
*::before,
*::after {
  box-sizing: border-box;
} */

body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: currentColor;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

section {
  padding: 120px 0;
}

.container {
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;

  /* outline: 2px solid red;
  outline-offset: -2px; */
}

/* Header styles */
.header {
  /* padding: 24px 0; */
  border-bottom: 1px solid #e7e9fc;
}
.header-container {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
}

.header-logo {
  display: flex;
  align-items: center;
  margin-right: 76px;
  padding: 24px 0;
  font-weight: 700;
  font-size: 18px;
  font-family: 'Raleway', sans-serif;

  /* line-height: 21px; */
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.studio {
  font-weight: 700;
  font-size: 18px;

  /* line-height: 21px; */
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #2e2f42;
}

.header-list {
  display: flex;
  gap: 40px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
}

.header-link {
  padding: 24px 0;
  display: block;
}
.header-item-link {
  font-weight: 500;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.header-link:hover {
  color: #404bbf;
}

.header-link:focus {
  color: #404bbf;
}
.address {
  margin-left: auto;
}

.address-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.address-nav {
  font-weight: 400;
  font-size: 16px;
  padding: 24px 0;
  display: block;

  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.address-nav:hover {
  color: #404bbf;
}

.address-nav:focus {
  color: #404bbf;
}
/* End Header-Styles */

/*  button */
.button-section {
  background-color: #2e2f42;
  padding: 188px 0 188px 0;
}

.hero-container {
  width: 1440px;
}

.button-title {
  max-width: 496px;
  margin: auto;
  margin-bottom: 48px;
  font-weight: 700;
  font-size: 56px;

  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
}

.button-item {
  font-weight: 500;
  font-size: 16px;

  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
}

.button {
  display: flex;
  display: block;
  margin: auto;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  padding: 16px 32px;
  background: var(--iris);

  font-weight: 500;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;

  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  cursor: pointer;
}

.button:hover {
  background-color: #404bbf;

  /* cursor: pointer; */
}

.button:focus {
  background-color: #404bbf;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.description-list {
  display: flex;
  gap: 24px;
}
.description-title {
  font-weight: 500;
  font-size: 20px;

  /* line-height: 24px; */
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  margin-bottom: 8px;
  margin-bottom: 8px;
}

.description-item {
  width: calc((100% - 24px * 3) / 4);
}

/* .description styles */
.description-text {
  font-weight: 400;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* Workers styles */
.workers {
  background-color: #f4f4fd;
}

.workers-title {
  font-weight: 700;
  font-size: 36px;
  text-transform: capitalize;
  margin-bottom: 72px;

  /* line-height: 40px; */
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
}

.workers-list {
  display: flex;
  gap: 24px;
}

.work-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 32px 0 32px;
  /* gap: 8px; */
}

.workers-img {
  background-color: #ffffff;
}

.workers-name {
  font-weight: 500;
  font-size: 20px;

  /* line-height: 24px; */
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  text-align: center;
}
.workers-item {
  width: calc((100% - 24px * 3) / 4);
  border-radius: 0 0 4px 4px;
  background-color: #ffffff;
}

.workers-job {
  font-weight: 400;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
}

/*  Portfolio styles */

.portfolio-item {
  background-color: #ffffff;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}

.portfolio-container {
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  /* gap: 8px; */
  border-bottom: 1px solid var(--cornflower);
  border-left: 1px solid var(--cornflower);
  border-right: 1px solid var(--cornflower);
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-title {
  font-weight: 700;
  margin-bottom: 72px;
  font-size: 36px;
  text-transform: capitalize;

  /* line-height: 40px; */
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
}

.portfolio-item {
  background-color: #ffffff;
}

.portfolio-description {
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 8px;

  /* line-height: 24px; */
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-transform: capitalize;
}

.portfolio-job {
  font-weight: 400;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* Footer Styles */
.footer {
  display: flex;
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-link {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 0px;
  display: block;
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
  display: inline-block;

  /* line-height: 21px; */
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.footer-caption {
  width: 264px;
  font-weight: 400;

  font-size: 16px;

  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
.studio-item {
  font-weight: 700;
  font-size: 18px;

  /* line-height: 21px; */
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}
